<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Find Movie</h1>
    <p>search for a movie </p>
    <form (submit)="searchMovies()">
      <input type="text" name="searchStr" class="form-control" [(ngModel)]="searchStr">
      <br>
      <button type="submit" name="button" class="btn btn-primary btn-lg">find</button>
    </form>
  </div>
</div>

<div *ngIf="searchRes" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">found  Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of searchRes, let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}" >View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">popular Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of popularList, let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}" >View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">in Theaters</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div *ngFor="let movie of inThearsList, let i = index" class="col-md-2">
        <div *ngIf="i < 6">
          <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}" class="thumbnail">
          <h4>{{movie.title}}</h4>
          <p>{{movie.release_date}}</p>
          <p><a class="btn btn-default" routerLink="/movie/{{movie.id}}" >View details &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
